@import url("https://fonts.googleapis.com/css2?family=Sevillana&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://github.com/mariaccarolina/TurmaFDV/blob/main/imagens/Imagem%20palacio.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex-wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  flex-direction: column;
}

h1 {
  color: white;
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin: 30px 25px;

  @media (max-width: 750px) {
    font-size: 30px;
    justify-content: center;
  }
}
button {
  font-family: "Sevillana", cursive;
  font-size: 35px;
  background-color: #007bff;
  color: #ffffff;
  margin: 30px 25px;
  border-radius: 25px;
  width: 350px;
  heigth: 70px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  @media (max-width: 750px) {
    background: #b74794;
    font-size: 15px;
    border-radius: 15px;
    width: 150px;
    heigth: 50px;
  }
}

img {
  max-width: 100%;
  height: auto;

  @media (max-width: 750px) {
    width: 80vw;
    height: auto;
  }
}
